<!DOCTYPE html>
<html>
<head>
    <title>Home work!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        i {
            margin-left: 10px;
        }
    </style>
</head>
<body>

<form id="app" @submit="findCountryByCode" method="post">

    <p v-if="errors.length">
        <strong>Please correct the following error(s):</strong>
    <ul>
        <li v-for="error in errors">{{ error }}</li>
    </ul>
    </p>

    <p>
        <label for="phoneNumber">Enter phone number (only numbers!):</label>
        <em>+</em>
        <input type="number" name="phoneNumber" id="phoneNumber" v-model="phoneNumber">
    </p>

    <p>
        <input type="submit" value="Check country">
    </p>

    <p>
        Phone code: {{ phoneCode }}
        <br>
        Country: {{countries}}
    </p>
</form>

<script>
    const apiUrl = '/rest/phone/info';

    const app = new Vue({
        el: '#app',
        data: {
            errors: [],
            phoneNumber: '',
            phoneCode: '',
            countries: []
        },
        methods: {
            findCountryByCode: function (e) {
                e.preventDefault();
                this.errors = [];
                if (this.phoneNumber === '') {
                    this.errors.push("Phone number is required.");
                } else {
                    postData(apiUrl, {phoneNumber: this.phoneNumber})
                        .then((response) => {
                            if (response.ok) {
                                return Promise.resolve(response.json());
                            }
                            return Promise.resolve(response.json()).then((responseInJson) => {
                                return Promise.reject(responseInJson);
                            });
                        })
                        .then((result) => {
                            this.phoneCode = result.code
                            if (result.countries.length) {
                                this.countries = result.countries.join(', ')
                            } else {
                                this.countries = "Not found!"
                            }

                        }, (error) => {
                            error.fieldErrors.map(fieldError => fieldError.error).forEach(errorMessage => {
                                this.errors.push(errorMessage)
                            })
                            error.globalErrors.forEach(errorMessage => {
                                this.errors.push(errorMessage)
                            })
                        })
                        .catch(catchError => {
                            this.errors.push(catchError)
                        });
                }
            }
        }
    })

    async function postData(url = '', data = {}) {
        return fetch(apiUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
    }
</script>
</body>
</html>
